html{
    text-align: center;
}
#guns {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 100px !important;
  }
.navbar{
    background-color: red !important;
}
  
  img {
    height: 200px !important;
    object-fit: cover;
  }
  
  .card {
    width: calc((100% / 4) - 15px);
    min-width: 300px;
  }
  
  .card-title {
    text-transform: capitalize;
  }
.nav-item{
    color: white;
    margin: 10px;
}
.cart-link{
    position: fixed;
    top: 5px;
    right: 20px;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    color: white;
    padding: 20px;
    background-color: red;
}
#heading{
    margin: 100px;
}
.card{
    border: solid 2px black;
}
.cart-icon{
    color: white;
    background-color: green;
}
.cart-icon:hover{
    color: green;
    background-color: white;
}
.deleting{
    color: white;
    background-color: red;
}
.deleting:hover{
    color: red;
    background-color: white;
}
.carting{
    
}